<%- include("./partials/header") -%>
    <div class="container">
        <h1>About</h1>

        <p>I'm Wisdom, a frontEnd heavy Full stack developer. i love Coding.</p>
        
    </div>

<%- include("./partials/footer") -%>