<%- include("./partials/header") -%>
    <div class="container">
        <h1>Compose</h1>

        <form action="/compose" method="POST">
            <label for="input">Author</label><br>
            <input type="text" name="postAuthor" id="input" style="width:30%"><br>
            <label for="input" class="mt-4">Title</label><br>
            <input type="text" name="postTitle" id="input" style="width:30%"><br>
            <label for="inputArea"  class="mt-3">Post</label><br>
            <textarea type="text" name="postContent" id="inputArea" style="width:80%; height: 80px"></textarea><br>
            <button type="submit" class="btn btn-sm btn-primary">Publish</button>
        </form>
        
    </div>

<%- include("./partials/footer") -%>