<%- include("./partials/header") -%>
    <div class="container">
        <h1>Contact</h1>

        <p>Have a project in mind?...Let me make it come alive.</p>
        <p>Email me at: <a href="wisdomosara@gmail.com">Wisdomosara@gmail.com</a></p>
    </div>

<%- include("./partials/footer") -%>