<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lists</title>
</head>
<body>
    <h1 style="color: red">this is a <%= dayOf %></h1>
       <% for (let i = 0; i < item.length; i++) {%>
        <div style="display: flex; align-items:center">
            <input type="checkbox">
            <p><%=item[i]%></p>
        </div>
       <%}%>
    <form action="/" method="POST">
        <input type="text" name="name" autocomplete="off">
        <button type="submit">+</button>
    </form>
</body>
</html>